Libs/Gazetracker/GazeTrackingData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GazeTrackingData"
    targetNamespace="http://gazegroup.org/GazeTracking.xsd"
    elementFormDefault="qualified"
    xmlns="http://gazegroup.org/GazeTracking.xsd"
    xmlns:mstns="http://gazegroup.org/GazeTracking.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  
  <xs:simpleType name="nonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Confidence">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Confidence" type="Confidence"/>

  <xs:element name="Ident" type="nonEmptyString"/>

  <xs:simpleType name="Units">
    <xs:restriction base="xs:string">
      <xs:pattern value="MM|M|PX">
        <!-- Other possible units ?? -->
        <xs:annotation>
          <xs:documentation>The only allowable values for the Units are listed here</xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:enumeration value="MM">
        <xs:annotation>
          <xs:documentation>Millimetres</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Metres</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PX">
        <xs:annotation>
          <xs:documentation>Pixels</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Units" type="Units"/>
  
  <xs:element name="SquareUnits" type="Units"/>

  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:decimal"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="SquareUnits"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="Confidence"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Area" type="Area"/>

  <xs:simpleType name="Dimension">
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>

  <xs:simpleType name="Angle">
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>

  <xs:element name="X" type="Dimension"/>
  <xs:element name="Y" type="Dimension"/>
  <xs:element name="Z" type="Dimension"/>
  <xs:element name="Yaw" type="Angle"/>
  <xs:element name="Pitch" type="Angle"/>
  <xs:element name="Roll" type="Angle"/>

  <xs:complexType name="Pose6D">
    <xs:sequence>
      <!-- We only have to include what we know -->
      <xs:element minOccurs="0" maxOccurs="1" ref="Units"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="X"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="Y"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="Z"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="Yaw"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="Pitch"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="Roll"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="Confidence"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Pose6D" type="Pose6D"/>

  <xs:complexType name="Pupil">
    <xs:sequence>
      <!-- We only have to include what we know -->
      <xs:element minOccurs="0" maxOccurs="1" ref="Area"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="EyeState">
    <xs:restriction base="xs:string">
      <xs:pattern value="FIXATION|SACCADE|SMOOTH_PURSUIT|UNKNOWN">
        <xs:annotation>
          <xs:documentation>The only allowable values for the EyeState are listed here</xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:enumeration value="FIXATION">
        <xs:annotation>
          <xs:documentation>The eye is in a Fixation state</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SACCADE">
        <xs:annotation>
          <xs:documentation>The eye is undergoing Saccadic movement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SMOOTH_PURSUIT">
        <xs:annotation>
          <xs:documentation>The eye is presently in Smooth Pursuit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UNKNOWN">
        <xs:annotation>
          <xs:documentation>The state of the eye is unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="EyeState" type="EyeState"/>

  <xs:element name="GazeVector" type="Pose6D"/>

  <xs:element name="Pupil" type="Pupil"/>

  <xs:complexType name="BeingEye">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="EyeState"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="GazeVector"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="Pupil"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BeingHead">
    <xs:sequence>
      <!-- Not sure what head states may exist -->
      <!-- <xs:element minOccurs="0" maxOccurs="1" ref="HeadState"/> -->
      <xs:element minOccurs="0" maxOccurs="1" ref="GazeVector"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Head" type="BeingHead"/>
  <xs:element name="RightEye" type="BeingEye"/>
  <xs:element name="LeftEye" type="BeingEye"/>

  <xs:complexType name="Being">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" ref="Ident"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="Head"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="RightEye"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="LeftEye"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="GazeVector"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Being" type="Being"/>

  <xs:complexType name="Beings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="Being"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Beings" type="Beings"/>

  <xs:complexType name="UnitConversion">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FromUnits" type="Units"/>
      <xs:element minOccurs="1" maxOccurs="1" name="ToUnits" type="Units"/>
      <xs:element minOccurs="1" maxOccurs="1" name="Factor" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="UnitConversion" type="UnitConversion"/>

  <xs:element name="A" type="Dimension"/>
  <xs:element name="B" type="Dimension"/>
  <xs:element name="C" type="Dimension"/>
  <xs:element name="D" type="Dimension"/>

  <xs:complexType name="Plane">
    <xs:annotation>
      <xs:documentation>Plane is defined by the equation Ax + By + Cz + D = 0</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" ref="Ident"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="A"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="B"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="C"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="D"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="UnitConversion"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Plane" type="Plane"/>

  <xs:complexType name="Surfaces">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="Plane"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Surfaces" type="Surfaces"/>

  <xs:complexType name="Camera">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" ref="Ident"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="Pose6D"/>
      <!-- Some other potentially useful information -->
      <!-- <xs:element minOccurs="0" maxOccurs="1" ref="FrameRate"/> -->
      <!-- <xs:element minOccurs="0" maxOccurs="1" ref="Resolution"/> -->
      <!-- <xs:element minOccurs="0" maxOccurs="1" ref="Roi"/> -->
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Camera" type="Camera"/>

  <xs:complexType name="Cameras">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="Camera"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Cameras" type="Cameras"/>

  <xs:element name="Timestamp" type="xs:dateTime"/>

  <xs:simpleType name="RevisionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="NEW|REPLACE|REMOVE">
        <xs:annotation>
          <xs:documentation>The only allowable values for the RevisionType are listed here</xs:documentation>
        </xs:annotation>
      </xs:pattern>
      <xs:enumeration value="NEW">
        <xs:annotation>
          <xs:documentation>A new observation (the default)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REPLACE">
        <xs:annotation>
          <xs:documentation>Replace the observation with the given timestamp and sequence number with this observation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REMOVE">
        <xs:annotation>
          <xs:documentation>Remove the observation with the given timestamp and sequence number (generally because it has been determined now to have been unreliable)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="RevisionType" type="RevisionType"/>

  <xs:element name="SequenceNumber" type="xs:long">
    <xs:annotation>
      <xs:documentation>Used to identify multiple packets that correspond to the same instant in time</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="GazeTrackDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="GazeTrackData"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GazeTrackData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="Timestamp"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="SequenceNumber"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="RevisionType"/>

        <xs:element minOccurs="0" maxOccurs="1" ref="Cameras"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="Beings"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="Surfaces"/>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
